.editor {
    grid-column: 2;
    height: 80dvh;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 0.625em;
}

.editor-section {
    height: 100%;
    max-height: 600px;
    background-color: var(--clr-primary--1);
    box-shadow: 0 0 0 3px var(--clr-primary--1);
    border-radius: 15px;
    place-content: center;
}

.up-and-download {
    height: max-content;
    justify-content: center;
    gap: 0.625em;
}

.canvas-container {
    width: 100%;
}

.canvas-container>canvas {
    border-radius: 15px;
    margin: auto;
}

.edit-actions {
    row-gap: 1.5em;
    place-items: center;
    margin-block: 0.625em;
}

.insert-txt {
    justify-self: stretch;
    margin-inline: 1em;
    font-size: 1.25rem;
    height: 2.5em;
    padding-left: 1em;
    border: none;
    box-shadow: 0 0 0 3px var(--clr-primary--1);
    outline: none;
}

.stroke-clr, .fill-clr {
    opacity: 0;
    height: 0;
    width: 0;
}

.edit-btn {
    background-color: var(--clr-primary-2);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 0.625em;
    font-size: 1.25rem;
    box-shadow: 0 4px 8px var(--clr-primary--2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: var(--clr-primary-1);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px var(--clr-primary--2);
}

.edit-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px var(--clr-primary--1);
}

.light {
    background-color: var(--clr-primary-4);
}

.light:hover {
    background-color: var(--clr-primary-3);
}

.lighter {
    background-color: var(--clr-primary-6);
}

.lighter:hover {
    background-color: var(--clr-primary-5);
}

a {
    text-decoration: none;
}

.edit-txt-style-container {
    background-color: var(--clr-primary--3);
    padding: 0.625em;
    border-radius: 10px;
    grid-template-columns: repeat(5 1fr);
    row-gap: 0.625em;
    column-gap: 0.625em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "incr-txt dec-txt align-left align-center align-right"
    "font font font stroke-clr fill-clr";
}

.incr-txt-size-btn {
    grid-area: incr-txt;
}

.dec-txt-size-btn {
    grid-area: dec-txt;
}

.align-txt-left-btn {
    grid-area: align-left;
}

.align-txt-center-btn {
    grid-area: align-center;
}

.align-txt-right-btn {
    grid-area: align-right;
}

.font {
    grid-area: font;
}

.stroke-clr-picker-label {
    grid-area: stroke-clr;
}

.fill-clr-picker-label {
    grid-area: fill-clr;
}