.editor {
    grid-column: 2;
    height: 80dvh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.editor-section {
    height: 100%;
    background-color: #292f45;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
    border-radius: 15px;
    place-content: center;
}

.up-and-download {
    height: max-content;
    justify-content: center;
    gap: 10px;
}

.canvas-container {
    width: 100%;
}

.canvas-container>canvas {
    border-radius: 15px;
}

.edit-actions {
    row-gap: 10px;
    place-items: center;
    margin-block: 10px;
}

.insert-txt {
    justify-self: stretch;
    margin-inline: 15px;
    font-size: 20px;
    height: 40px;
    padding-left: 15px;
    border: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
    outline: none;
}

.stroke-clr, .fill-clr {
    /* display: none; */
    opacity: 0;
    height: 0;
    width: 0;
}

.edit-btn {
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.edit-btn:hover {
    background-color: #4338ca;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.edit-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.light {
    background-color: #6862e8;
}

.light:hover {
    background-color: #5952ec;
}

.lighter {
    background-color: #938fe7;
}

.lighter:hover {
    background-color: #706ae6;
}

a {
    text-decoration: none;
}

.edit-txt-style-container {
    background-color: rgb(31, 35, 52);
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(5 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "incr-txt dec-txt align-left align-center align-right"
    "font font font stroke-clr fill-clr";
}

.incr-txt-size-btn {
    grid-area: incr-txt;
}

.dec-txt-size-btn {
    grid-area: dec-txt;
}

.align-txt-left-btn {
    grid-area: align-left;
}

.align-txt-center-btn {
    grid-area: align-center;
}

.align-txt-right-btn {
    grid-area: align-right;
}

.font {
    grid-area: font;
}

.stroke-clr-picker-label {
    grid-area: stroke-clr;
}

.fill-clr-picker-label {
    grid-area: fill-clr;
}