.emoji-container {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    width: 60%;
    font-size: 1.875rem;
    background-color: white;
    border-radius: 15px;
}
.emoji-list {
    display: flex;
    overflow-x: hidden;
    width: 250px;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.emoji {
    cursor: pointer;
}