.emoji-container {
    display: flex;
    align-items: center;
    gap: 5px;
}
.emoji-list {
    display: flex;
    overflow-x: hidden;
    width: 200px;
    white-space: nowrap;
    scroll-behavior: smooth;
}