.gallery {
    grid-column: 2;
    background-color: var(--clr-primary--4);
    padding: 1em;
    border-radius: 10px;
    height: 85dvh;
    row-gap: 1em;
}

.gallery-container {
    overflow-y: auto;
    padding: 5px;
}

.gallery-actions {
    width: 100%;
    height: max-content;
    gap: 5px;
    flex-wrap: wrap;
}

.gallery-search {
    padding-inline-start: 1.25em;
    height: 30px;
    background-color: var(--clr-primary-base);
    border: none;
    color: white;
    width: 300px;
    font-size: 1rem;
}

.search-freq-container {
    gap: 5px;
    height: max-content;
    border: none;
    background-color: var(--clr-primary--3);
    border-radius: 30px;
    margin: 0;
    max-width: 300px;
    align-items: start;
}

.keywords-list {
    max-width: 300px;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 0.625em;
    margin-block: 0;
    max-height: 30px;
    padding-inline-start: 1.25em;
    transition: max-height 0.5s ease-in-out;
}

.show-more-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding-top: 7px;
    padding-inline-end: 1.25em;
}

.random-btn {
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    height: 30px;
    border: none;
    color: white;
    background: linear-gradient(to right, var(--clr-secondary-1), var(--clr-secondary-2));
    width: 100px;
}

.expanded {
    padding-inline-start: 1.25em;
    padding-block: 1em;
    max-height: 500px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    text-align: center;
    place-content: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px var(--clr-primary--2);
    transition: transform 0.3s ease;
}

.upload {
    min-height: 100px;
}

.gallery-img:hover {
    transform: scale(1.03);
}

.file-upload {
    display: none;
}

label[for="file-input"] {
    cursor: pointer;
}

.keyword {
    cursor: pointer;
}