.nav-bar .pages>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.nav-bar {
    justify-content: space-between;
    grid-column: 2;
    padding: 10px;
    background: linear-gradient(to right, #7083c8, rgb(128, 197, 128));
    margin-top: 10px;
}

.nav-bar .pages>button:hover {
    border: 1px solid white;
}

.nav-bar .pages>button.active {
    background-color: white;
    color: rgb(128, 197, 128);
}